default_stages: [commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: end-of-file-fixer
        exclude: '\.ipynb$'
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: check-case-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: check-symlinks
      - id: check-merge-conflict
        stages:
          - commit
          - merge-commit
          - manual
      - id: requirements-txt-fixer
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v7.0.1
    hooks:
      - id: commitlint
        additional_dependencies: ["@commitlint/config-conventional"]
        stages:
          - commit-msg
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.2.3
    hooks:
      - id: nbqa-black
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier
        stages:
          - commit
          - manual
